body {
  margin: 0;
  font-size: 1.25em;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  margin: 0;
  color: #fff;
  background: #333;
  text-align: center;
}
main {
  max-width: 600px;
  margin: 0 auto;
}
dl { margin: 0; }
dt {
  font-weight: bold;
  background: #eee;
  margin-bottom: .25em;
  padding: .5em 14px;
}
dt small {
  float: right;
  font-size: .5em;
  line-height: 2.25em;
}
dd {
  font-size: .75em;
  font-weight: normal;
  margin-bottom: 1em;
  padding-right: 1em;
}
