body {
  margin: 0;
  font-size: 1.25em;
  font-family: Arial, Helvetica, sans-serif;
  background: #ccc;
}
h1 {
  margin: 0;
  color: #fff;
  background: #333;
  text-align: center;
}
main {
  max-width: 700px;
  margin: 0 auto;
}
section {
  display: flex;
  margin-top: .5em;
  overflow: auto;
  padding: .5em 10px;
  background: #fff;
  border: 2px solid #999;
  border-radius: 4px;
}
section div {
  padding: 0 20px
}
section img {
  width: 200px;
}
section h2 {
  margin-top: 0;
}
